/Maven__com_fasterxml_jackson_core_jackson_annotations_2_8_10.xml
/Maven__com_fasterxml_jackson_core_jackson_core_2_8_10.xml
/Maven__com_fasterxml_jackson_core_jackson_databind_2_8_10.xml
/Maven__com_fasterxml_jackson_module_jackson_module_jaxb_annotations_2_8_10.xml
/Maven__com_google_code_gson_gson_2_8_4.xml
/Maven__javax_annotation_javax_annotation_api_1_2.xml
/Maven__javax_inject_javax_inject_1.xml
/Maven__javax_servlet_javax_servlet_api_3_1_0.xml
/Maven__javax_validation_validation_api_1_1_0_Final.xml
/Maven__javax_ws_rs_javax_ws_rs_api_2_1.xml
/Maven__junit_junit_4_12.xml
/Maven__org_eclipse_jetty_jetty_http_9_4_10_v20180503.xml
/Maven__org_eclipse_jetty_jetty_io_9_4_10_v20180503.xml
/Maven__org_eclipse_jetty_jetty_security_9_4_10_v20180503.xml
/Maven__org_eclipse_jetty_jetty_server_9_4_10_v20180503.xml
/Maven__org_eclipse_jetty_jetty_servlet_9_4_10_v20180503.xml
/Maven__org_eclipse_jetty_jetty_util_9_4_10_v20180503.xml
/Maven__org_glassfish_hk2_external_aopalliance_repackaged_2_5_0_b42.xml
/Maven__org_glassfish_hk2_external_javax_inject_2_5_0_b42.xml
/Maven__org_glassfish_hk2_hk2_api_2_5_0_b42.xml
/Maven__org_glassfish_hk2_hk2_locator_2_5_0_b42.xml
/Maven__org_glassfish_hk2_hk2_utils_2_5_0_b42.xml
/Maven__org_glassfish_hk2_osgi_resource_locator_1_0_1.xml
/Maven__org_glassfish_jersey_containers_jersey_container_servlet_core_2_27.xml
/Maven__org_glassfish_jersey_core_jersey_client_2_27.xml
/Maven__org_glassfish_jersey_core_jersey_common_2_27.xml
/Maven__org_glassfish_jersey_core_jersey_server_2_27.xml
/Maven__org_glassfish_jersey_ext_jersey_entity_filtering_2_27.xml
/Maven__org_glassfish_jersey_inject_jersey_hk2_2_27.xml
/Maven__org_glassfish_jersey_media_jersey_media_jaxb_2_27.xml
/Maven__org_glassfish_jersey_media_jersey_media_json_jackson_2_27.xml
/Maven__org_hamcrest_hamcrest_core_1_3.xml
/Maven__org_javassist_javassist_3_22_0_CR2.xml
/Maven__org_mongodb_bson_3_8_0_beta2.xml
/Maven__org_mongodb_mongo_java_driver_3_8_0_beta2.xml
