<h1>{{title}}</h1>
<h2>Add Travel</h2>
<div>
    <table>
        <tr>
            <td>Source:</td>
            <td>Destination:</td>
        </tr>
        <tr>
            <td>
                <select [(ngModel)]="sourceCountry">
                <option *ngFor="let country of countries" [ngValue]="country">{{country.name}}
                </option>
                </select>
            </td>
            <td>
                <select [(ngModel)]="destinationCountry">
                <option *ngFor="let country of countries" [ngValue]="country">{{country.name}}
                </option>
                </select>
            </td>
        </tr>
    </table>
</div>
